<% provide(:title, '联络财务顾问') %>

<br/><h1>联络财务顾问</h1><br/><br/>

<table class="table table-striped">
  <tr><th>姓名</th><th>职务</th><th>擅长领域</th><th>办公电话</th><th>业务咨询邮箱</th></tr>
  <tr>
    <td>陈玮</td>
    <td>高级财务顾问</td>
    <td>擅长房地产借贷</td>
    <td>0755-82322836</td>
    <td>chenwei@fujiatianxia.com</td>
  </tr>
  <tr>
    <td>张洵</td>
    <td>高级财务顾问</td>
    <td>擅长股权投资</td>
    <td>0755-82322840</td>
    <td>zhangxun@fujiatianxia.com</td>
  </tr>
  <tr>
    <td>赵越</td>
    <td>财务顾问</td>
    <td>擅长小额借款</td>
    <td>0755-82322837</td>
    <td>zhaoyue@fujiatianxia.com</td>
  </tr>
  <tr>
    <td>王梦</td>
    <td>财务顾问</td>
    <td>擅长抵押贷款</td>
    <td>0755-82322839</td>
    <td>wangmeng@fujiatianxia.com</td>
  </tr>
  <tr>
    <td>刘春涛</td>
    <td>财务顾问</td>
    <td>擅长股权投资</td>
    <td>0755-82322838</td>
    <td>liuchuntao@fujiatianxia.com</td>
  </tr>
</table>