<%= provide(:title, "欢迎来到富甲天下！") %>
<div class="row">
  <div class="span4">
    <div class="hero-unit">
      <h1>找资金</h1>
      <p>小额借款，资产抵押，融资租赁，短期借款，股权融资，股权转让，大宗交易，资源转让，资产出售…….</p>
      <p>
        <%= link_to "马上注册!", signup_path, class: "btn btn-large btn-success" %>
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h1>找项目</h1>
      <p>短期贷款，企业债券，信托贷款，抵押贷款，PE投资，资产收购，股权接收，资源收购，风险投资…….</p>
      <p>
        <%= link_to "马上注册!", signup_path(investor: 'y'), class: "btn btn-large btn-success" %>
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h1>找顾问</h1>
      <p>为您找到最合适的投融资方式，提供一揽子借贷，资产抵押，股权转让，融资租赁，矿产转让，资产并购解决方案</p>
      <p>
        <%= link_to "联系顾问", consultants_path, class: "btn btn-large btn-success" %>
      </p>
    </div>
  </div>
</div>