<% provide(:title, "用户登录") %>


<div class="row">
  <div class="span6 offset3">

    <br/><h1>用户登录</h1><br/><br/>

    <%= form_tag sessions_path do %>

      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "登录", :class => "btn btn-large btn-primary pull-right" %>
    <% end %>
  </div>
</div>