<%= render 'shared/error_messages', :object => f.object %>

<%= f.label :the_type, '融资方式' %> &nbsp;
<%= f.radio_button :the_type, '股权' %> 股权 &nbsp;
<%= f.radio_button :the_type, '债券' %> 债券
<br/><br/>

<%= f.label :amount, '融资规模' %>
<%= f.text_field :amount, placeholder: '1500万' %>

<%= f.label :period, '融资期限' %>
<%= f.text_field :period, placeholder: '1年期' %>

<%= f.label :interest_rates, '年利率' %>
<%= f.text_field :interest_rates, placeholder: '20%' %>

<%= f.label :description, '详细描述' %>
<%= f.text_area :description %>