<%= provide(:title, "资金需求信息一览")%>

<br/><h1>资金需求信息一览</h1><br/>

<%= link_to('发布资金需求信息', new_entry_path, class: 'btn pull-right btn-success btn-large') %><br/><br/><br/>

<table class="table table-striped">
  <tr><th>融资类型</th><th>融资规模</th><th>融资期限</th><th>年利率</th><th>查看详情</th></tr>
  <% @entries.each do |entry| %>
  <tr><td><%= entry.the_type%></td><td><%= entry.amount %></td><td><%= entry.period %></td><td><%= entry.interest_rates %></td><td><%= link_to('详情', entry)%></td></tr>
  <% end %>
</table>