<% provide(:title, '发布资金需求信息') %>

<div class="row">
  <div class="span6 offset3">

    <br/><h1>发布资金需求信息</h1><br/><br/>

    <%= form_for(@entry) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "发布", class: "btn btn-large btn-primary pull-right" %>
    <% end %>
  </div>
</div>