<% provide(:title, '资金需求信息') %>

<div class="row">
  <div class="span6 offset3">

<br/><h1>资金需求信息</h1><br/><br/>

<table class="table table-striped">
  <tr><th>融资类型</th><td><%= @entry.the_type %></td></tr>
  <tr><th>融资规模</th><td><%= @entry.amount %></td></tr>
  <tr><th>融资期限</th><td><%= @entry.period %></td></tr>
  <tr><th>年利率</th><td><%= @entry.interest_rates %></td></tr>
</table>

<p><b>详细描述:</b></p>
<%= @entry.description %>

  </div>
</div>
