<% provide(:title, "修改资料") %>

<div class="row">
  <div class="span6 offset3">

    <br/><h1>修改资料</h1><br/><br/>

    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "保存更改", :class => "btn btn-large btn-primary pull-right" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">换头像</a>
  </div>
</div>