<% provide(:title, '知名资本方一览') %>

<br/><h1>知名资本方一览</h1><br/>

<%= link_to('注册成为资本方', signup_path(investor: 'y'), class: 'btn pull-right btn-success btn-large') %><br/><br/><br/>

<table class="table table-striped">
  <tr><th>形象照片</th><th>注册名称</th><th>资金规模</th><th>投资兴趣</th></tr>
  <% @users.each do |user| %>
  <tr><td><%= gravatar_for user, size: 64 %></td><td><%= user.name %></td><td>10亿</td><td>抵押贷款/PE投资/资产收购</td></tr>
  <% end %>
</table>