<%= provide(:title, '新用户注册') %>

<div class="row">
  <div class="span6 offset3">

    <br/><h1><%= @user.investor? ? "资本方":"企业方" %>注册</h1><br/><br/>

    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "创建账号", class: "btn btn-large btn-primary pull-right" %>
    <% end %>
  </div>
</div>