<% provide(:title, @user.name) %>

<div class="row">
  <div class="span6 offset3">

    <br/><h1><%= gravatar_for @user %> <%= @user.name %></h1><br/><br/>

    <table class="table table-striped">
      <% if @user.investor? %>
        <tr><th>资金规模</th><td>10亿</td></tr>
        <tr><th>主要兴趣</th><td>抵押贷款/PE投资/资产收购</td></tr>
      <% else %>
        <tr><th>行业</th><td>互联网与信息技术</td></tr>
        <tr><th>性质</th><td>国营企业</td></tr>
      <% end %>
    </table>

    <%= link_to "修改", edit_user_path(current_user), class: "btn pull-right" %>
  </div>
</div>