<footer class="footer">
  <small>
    Designed and implemented by <a href="http://tylerlong.me/" target="_blank">Tyler Long</a>
  </small>
  <nav>
    <ul>
      <li>&copy2012 all rights reserved.</li>
    </ul>
  </nav>
</footer>