<div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">富甲天下</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to('知名投资方一览', users_path) %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to('资金需求信息一览', entries_path) %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to('联络财务顾问', consultants_path) %></li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <% if signed_in? %>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.investor? ? "资本方":"企业方" %> 账户 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "账户主页", current_user %></li>
                <li><%= link_to "修改资料", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "注销", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "登录", signin_path %></li>
          <% end %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>